.home-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img-lg {
  width: 800px;
}

@media screen and (max-width: 786px) {
  .home-img-lg {
    display: none;
  }
}

.home-img-sm {
  width: 500px;
}

@media screen and (min-width: 786px) {
  .home-img-sm {
    display: none;
  }
}
